// SCSS (i.e. for media queries)
$page-breakpoint:              1024px;
$tablet-breakpoint:            992px;
$mobile-landscape-breakpoint:  768px;
$mobile-portrait-breakpoint:   479px;

// CSS VARIABLES
:root {
    /** Screen Sizes **/
    --tablet-breakpoint:            $tablet-breakpoint;
    --mobile-landscape-breakpoint:  $mobile-landscape-breakpoint;
    --mobile-portrait-breakpoint:   $mobile-portrait-breakpoint;

    /** Colors **/
    --primary-color:        #0A3D62 !important;
    --secondary-color:      #2a2a2a !important;
    --light-grey:           #D3D3D3;

    /** Font Sizes **/
    --header-font-size-home:    3.5rem;
    --header-font-size-default: 2.5rem;
    --header-font-size-mobile:  2rem;

    /** Component Sizes **/
    --menu-height:              90px;
    --header-height-large:      400px;
    --header-height-default:    275px;
    --page-content-width:       1024px;

    --page-content-min-height-default:          calc(100vh - var(--header-height-default) - var(--menu-height));
    --page-content-min-height-large-header:     calc(100vh - var(--header-height-large) - var(--menu-height));

    /** Box shadows **/
    /* @credit - https://codepen.io/sdthornton/pen/wBZdXq */
    --lightest-box-shadow:  0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --light-box-shadow:     0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --medium-box-shadow:    0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    --heavy-box-shadow:     0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    --heaviest-box-shadow:  0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

    /** Text Shadows **/
    --card-title-text-shadow: -1px 1px 6px rgba(0, 0, 0, 0.37);

    /** Borders **/
    --thin-white: 1px solid #fff;
}
