@import '../../styles/variables';

.MenuWrapper {
    top: 0;
    width: 100%;
    height: var(--menu-height);
    z-index: 1;

    .Menu {
        max-width: var(--page-content-width);
        margin: auto;
        border: none;
        background: transparent;

        .MenuBrand {
            font-size: 2rem;
            font-weight: 300;
            color: #fff;
            text-transform: uppercase;
        }

        .MenuLink {
            font-size: 0.8rem;
            font-weight: 500;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            color: #fff;
            padding: 20px;
            opacity: 0.6;
            transition: opacity 0.4s ease-out;

            &.MenuLinkActive {
                opacity: 1;
            }

            &:hover {
                opacity: 1;
                transition: opacity 0.4s ease-in;
            }

            @media (min-width: $tablet-breakpoint) {

                &:last-of-type {
                    border-radius: 2px;
                    background-color: rgba(255, 255, 255, 0.2);
                    padding: 10px;
                    margin-left: 10px;
                }
            }
        }
    }

    &.Footer {
        @media (max-width: $tablet-breakpoint) {
            height: 100%;
        }

        .Menu {
            @media (max-width: $tablet-breakpoint) {
                display: flex;
                flex-direction: column;
            }

            .p-toolbar-group-right {
                @media (max-width: $mobile-portrait-breakpoint) {
                    display:        flex;
                    flex-direction: column;
                }
            }
        }
    }
}
