.ProjectCards {
    max-width: var(--page-content-width);
    margin: auto;
    height: 250px;
    padding: 60px 0;

    .ProjectCard {
        position: relative;
        height: 250px;

        .ProjectCardImg {
            width: 100%;
            height: 100%;
            background-position: 50% 50%;
            background-size: cover;
            border-radius: 3px;
        }

        .ProjectCardCategory {
            position: absolute;
            right: 25px;
            top: 25px;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 12px;
        }

        .ProjectName {
            position: absolute;
            bottom: 25px;
            left: 25px;
            color: #fff;
            font-size: 22px;
            line-height: 24px;
            font-weight: 700;
            text-shadow: var(--card-title-text-shadow);
        }
    }
}
