.BlogsContent {
    min-height: var(--page-content-min-height-default);
    max-width: var(--page-content-width);
    margin: auto;

    .BlogCardsContainer {
        padding: 60px 0;

        .NoBlogsHeader {
            text-align: center;
        }

    }
}
