:root {
    /** Screen Sizes **/
    --tablet-breakpoint:            992px;
    --mobile-landscape-breakpoint:  768px;
    --mobile-portrait-breakpoint:   479px;

    /** Colors **/
    --primary-color:        #0A3D62 !important;
    --secondary-color:      #2a2a2a !important;

    /** Component Sizes **/
    --menu-height:          90px;
}
