.Header {
    background-color: rgba(0,0,0,0.25);
    background-image: url(http://localhost:1337/uploads/example_work_late_1130e28dc3.jpeg);
    background-blend-mode: multiply;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    .HeaderTitle {
        margin: 0;
        font-size: 3rem;
        font-weight: 300;
        color: #fff;
    }
}
