@import '../../styles/variables';

.PortfolioContent {
    min-height: var(--page-content-min-height-default);

    @media (max-width: $mobile-landscape-breakpoint) {
        min-height: calc(var(--page-content-min-height-default) + var(--contact-banner-height));
    }

    .ProjectCardsContainer {

        .NoProjectsHeader {
            text-align: center;
            margin: 2rem auto;
            font-style: italic;
        }
    }
}
